@keyframes tanjiranimation {

    0% {
        background-color: green;
        left: 0px;
        top: 0px;
        border-radius: 0%;
    }

    25% {
        background-color: blue;
        left: 400px;
        top: 0px;
        border-radius: 0% 50% 0% 0%;
    }

    50% {
        background-color: darkorchid;
        left: 400px;
        top: 300px;
        border-radius: 0% 0% 50% 0%;
    }

    75% {
        background-color: rgb(199, 204, 50);
        left: 0px;
        top: 300px;
        border-radius: 0% 0% 0% 50%;
    }

    100% {
        background-color: rgb(50, 204, 109);
        left: 0px;
        top: 0px;
        border-radius: 50% 0% 0% 0%;
    }

    100% {
        background-color: rgb(50, 186, 204);
        left: 0px;
        top: 0px;
        border-radius: 100%;
    }


}

.tanjir-animation {
    animation-name: tanjiranimation;
    animation-duration: 5s;

    animation-iteration-count: infinite  ;
    /* animation-delay: 4s; */
    animation-direction:alternate-reverse;
    animation-timing-function: ease-in;
    animation-timing-function: ease-out;
}

.tanjir-animation-15s {
    animation-name: tanjiranimation;
    animation-duration: 15s;

    animation-iteration-count: infinite;
    /* animation-delay: 4s; */
    animation-direction: alternate;
    animation-timing-function: ease-in;
    animation-timing-function: ease-out;
}